<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Tüm Loglar Dosyası -->
    <appender name="ALL_LOGS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>target/karate-reports/all-logs.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>target/karate-reports/all-logs.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
       <!--     <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%logger{36}] - %msg%n</pattern> -->
           <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%logger{36}] [%X{feature}:%X{scenario}] - %msg%n</pattern>

        </encoder>
    </appender>

    <!-- Karate general logs -->
    <logger name="com.intuit.karate" level="INFO"/>
    <logger name="com.intuit.karate.core" level="INFO"/>
    
    <!-- HTTP Request/Response logs - Tüm HTTP loglarını yakala -->
    <logger name="com.intuit.karate.http" level="DEBUG" additivity="false">
        <appender-ref ref="ALL_LOGS_FILE"/>
    </logger>
    
    <!-- Karate'nin tüm HTTP loglarını yakala -->
    <logger name="com.intuit.karate" level="DEBUG" additivity="false">
        <appender-ref ref="ALL_LOGS_FILE"/>
    </logger>

    <!-- Diğer logları kapat -->
    <logger name="org.apache.http" level="OFF"/>
    <logger name="org.apache.http.wire" level="OFF"/>
    <logger name="org.apache.maven" level="OFF"/>
    <logger name="org.junit" level="OFF"/>
    <logger name="org.slf4j" level="OFF"/>
    <logger name="ch.qos.logback" level="OFF"/>
    <logger name="org.thymeleaf" level="OFF"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL_LOGS_FILE"/>
    </root>
</configuration>