<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Karate tüm logları göster -->
    <logger name="com.intuit.karate" level="INFO"/>
    <logger name="com.intuit.karate.core" level="INFO"/>
    <logger name="com.intuit.karate.http" level="INFO"/>

    <!-- Diğer logları kapat -->
    <logger name="org.apache.http" level="OFF"/>
    <logger name="org.apache.http.wire" level="OFF"/>
    <logger name="org.apache.maven" level="OFF"/>
    <logger name="org.junit" level="OFF"/>
    <logger name="org.slf4j" level="OFF"/>
    <logger name="ch.qos.logback" level="OFF"/>

    <!-- Root logger'ı INFO seviyesinde tut -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>